Repository gwatkinson/projet-python-twitter, changes with the labels that .github/labeler.yml gives for each.
All labels: repo github, workflows, test, errors, data, twitter stream, data processing

Automatic commit : Update documentation
  docs/projet/processing.html
Labels: none

Checkout sur la branche modifiée avant de commit
  .github/workflows/python-app.yml
Labels: repo github, workflows

Renomme le nom des steps
  .github/workflows/python-app.yml
Labels: repo github, workflows

Update la docstring de flatten_tweet
  projet/processing.py
Labels: data processing

Automatic commit : Update documentation
  docs/projet/processing.html
Labels: none

Corrige quelques commentaires
  projet/processing.py
  projet/streaming.py
Labels: twitter stream, data processing

Automatic commit : Update documentation
  docs/projet/processing.html
  docs/projet/streaming.html
Labels: none

Corrige les commentaires
  test/test_streaming.py
Labels: test

Ajout de test_processing
  test/test_processing.py
Labels: test

Name the job
  .github/workflows/labeler.yml
Labels: repo github, workflows

Corrige un assert
  projet/streaming.py
Labels: twitter stream

Début de la fontion select_time_range
  projet/processing.py
Labels: data processing

Ajout du lien de la page de doc
  README.md
Labels: repo github

Ouvre le lien de la doc dans un nouvel onglet
  README.md
Labels: repo github

Ameliore le verbose
  projet/streaming.py
Labels: twitter stream

Ajout d'une bartre de progrès
  projet/processing.py
Labels: data processing

Automatic commit : Update documentation
  docs/projet/processing.html
  docs/projet/streaming.html
Labels: none

Renomme project_errors
  projet/projet_utils.py
Labels: none

Corrige la limite de temps
  projet/streaming.py
Labels: twitter stream

Coorection du nom de projet_utils
  projet/processing.py
Labels: data processing

Ajout du notebook_final
  notebook_final.ipynb
Labels: repo github

Correction de typos dans les commentaires
  projet/streaming.py
Labels: twitter stream

Modification des messages lors du streaming
  projet/streaming.py
Labels: twitter stream

Corrige le nom de projet_utils
  test/test_streaming.py
Labels: test

Automatic commit : Update documentation
  docs/projet/index.html
  docs/projet/processing.html
  docs/projet/projet_utils.html
  docs/projet/streaming.html
Labels: none

Correction message d'execution
  projet/processing.py
  projet/streaming.py
Labels: twitter stream, data processing

Ajout de la partie récupération
  notebook_final.ipynb
Labels: repo github

Automatic commit : Update documentation
  docs/projet/processing.html
  docs/projet/streaming.html
Labels: none

Ajoute le doissier docs
  .gitignore
Labels: repo github

Ajoute un début d'intro
  notebook_final.ipynb
Labels: repo github

Ajout de WrongColumnName
  projet/projet_utils.py
Labels: none

Création des listes de variables
  projet/listes_variables.py
Labels: none

Ajout de clean_df
  projet/processing.py
Labels: data processing

Enlève les :=
  projet/streaming.py
Labels: twitter stream

Necessite / ou \ à la fin de folder
  projet/processing.py
Labels: data processing

Modifie docstring de clean_df
  projet/processing.py
Labels: data processing

Fixe un problème lié aux index
  projet/processing.py
Labels: data processing

Ajout de preprocessing
  notebook_final.ipynb
Labels: repo github

Modification des variables
  projet/listes_variables.py
Labels: none

Supprime des variables inutiles
  projet/listes_variables.py
Labels: none

.github/labeler.yml:

# Add 'repo github' label to any change within the root or '.github' folder
repo github:
  - .github/**/*
  - ./*

# Add 'workflows' label to any change within the '.github/workflows/' folder or the '.github/labeler.yml'
workflows:
  - .github/workflows/*
  - .github/labeler.yml

# Add 'test' label to any change within the 'test' folder
test:
  - test/**/*

# Add 'errors' label to any change within the 'project_errors.py' file
errors:
  - projet/project_errors.py

# Add 'data' label to any change within the 'data' or 'image' folder
data:
  - data/**/*
  - image/**/*

# # Add 'documentation' label to any change within the 'docs' folder
# documentation:
#   - docs/**/*

# Add 'twitter stream' label to any change within the 'listes_mots.py' or 'streaming.py' files
twitter stream:
  - projet/listes_mots.py
  - projet/streaming.py

# Add 'data processing' label to any change within the 'processing.py' file
data processing:
  - projet/processing.py
